<p id="notice"><%= notice %></p>


<div class="jumbotron">
  
  <div class="container">
  
      <div class="row col-xl-12" style="color:black">
        <div class="col-sm-6">
          <strong>Product Image</strong>
          <p>
            <%=image_tag((Product.find_by(params[@order.product_id]).pimage))%>
          <p>
          <div>
            <small>
              Product Name:
              <%= (Product.find_by(params[@order.product_id]).pname) %>
              <br>
              Product Id:
              <%= @order.product_id %>
              <br>
              Order Number:
              <%= @order.order_number %>
              <br>
              <br>
              Product Description:
              <br>
              <%= (Product.find_by(params[@order.product_id]).description) %>
            </small>
          </div>
        </div>
        <div align="left" class="col-sm-6" style="color:black"> 
          <br>
                <p>
                  Order date:
                  <%= @order.order_date %>
                </p>

                <p>
                  Name:
                  <%= (User.find_by(params[@order.user_id]).username) %>
                </p>
                Order type:
                <%= @order.order_type %>
                <div>
                    <h3>Address:</h3>
                    <br>
                    House Name:
                    <%= username=(User.find_by(params[@order.user_id]).addresses.first.housename) %>
                    <br>
                    Street:
                    <%= username=(User.find_by(params[@order.user_id]).addresses.first.street) %>
                    <br>
                    City:
                    <%= username=(User.find_by(params[@order.user_id]).addresses.first.city) %>
                    <br>
                    State:
                    <%= username=(User.find_by(params[@order.user_id]).addresses.first.state) %>
                    <br>
                    Pincode:
                    <%= username=(User.find_by(params[@order.user_id]).addresses.first.pincode) %>

                </div>
        </div>
      </div>
    </div>
    <br>
  <p><a><%= link_to 'Back', products_path,class: "btn btn-primary" %></a></p>
</div>